header {
    flex-direction: column;
    flex-wrap: wrap;
    height: 30rem;
    span{
        font-weight: 200;
        font-size: 3.5rem;
        margin-left: 25%;
        margin-right: 25%;
    }
}
